
<div class="footer">
    <span class="item" style="color: var(--accent); font-weight: 600;">&copy; resort.in</span>
    <span class="item"><a href="#">Privacy</a></span>
    <span class="item"><a href="#">Terms and conditions</a></span>
    <span class="item"><a href="/about"><i class="fa-solid fa-circle-info" style="font-size: 0.8rem;"></i> Company details</a></span>
</div>