<nav class="navbar navbar-expand-md sticky-top">
  <div class="container-fluid p-0">
    <a class="navbar-brand" href="/about">
      <i class="fa-solid fa-hotel"></i>
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto">
        <a class="nav-link" href="/showAll"><i class="fa-solid fa-house text-xs me-1"></i> Home</a>
        <a class="nav-link" href="/listing">All Lists</a>
        <a class="nav-link" href="/newlisting"><i class="fa-solid fa-circle-plus me-1"></i> Create New</a> 
        <% if(currUser && currUser.email === "demoadmin@gmail.com"){ %>
          <a class="nav-link text-warning" href="/approved"><i class="fa-solid fa-shield-halved me-1"></i> Approve Posts</a>
        <% } %>
      </div>

      <div class="navbar-nav ms-auto">
        <% if(currUser){ %>     
          <span class="nav-link d-none d-md-inline-block text-white-50 me-2" style="cursor: default;">
            Hi, <b><%= currUser.username %></b>
          </span>
          <a class="nav-link" href="/logout" style="color: var(--danger) !important;"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
        <% } else { %>
          <a class="nav-link" href="/login">Login</a>
          <a class="nav-link" href="/signup" style="color: var(--accent) !important; font-weight: 600 !important;">Sign Up</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>